body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 0; */
    background-image: url("/photo/images2.png");
    background-repeat: no-repeat;
    background-size:  100% 720px;
    background-position: inherit;
    font-family: Arial, sans-serif;
  }


  * {
    box-sizing: border-box;
}



.container {
    max-width: 900px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-actions {
    text-align: center;
}

.form-actions button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.student-details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.student-details p {
    margin-bottom: 5px;
}