@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --green:#00E77F;
   --white:#fff;
   --light-white:#aaa;
   --black:#3d3d3d;
   --light-bg:#4b4b4b;
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: .2s linear;
   text-transform: capitalize;
}

*::selection{
   background-color: var(--white);
   color:var(--black);
}
body{
   background-color: var(--black);
}

section{
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   border-radius: 5rem;
   background-color: var(--light-bg);
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   padding:1rem 3rem;
}

.btn:hover{
   background-color: var(--white);
   color:var(--black);
}

.heading{
   margin-bottom: 2.5rem;
   text-align: center;
   font-size: 3rem;
   color:var(--white);
   text-transform: uppercase;
}

.heading span{
   color:var(--green);
   text-transform: uppercase;
}

.contact .row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap:1.5rem;
 }
 
 .contact .row .image{
	flex: 1  15rem;
	margin-left: -100px;
	/* position: relative; */
 }
 
 .contact .row .image img{
	width: 100%;
 }
 
 .contact .row form{
	flex:1 1 30rem;
 }
 
 .contact .row form .box{
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	border-radius: .5rem;
	background-color: var(--light-bg);
	font-size: 1.2rem;
	color:var(--white);
	padding:0.4rem;
	text-transform: none;
 }
 
 .contact .row form span{
	font-size: 1.4rem;
	color:var(--light-white);
 }
 
 .contact .row form .radio{
	margin-top: 1.5rem;
	margin-bottom: 1rem;
 }
 
 .contact .row form .radio label{
	font-size: 1.6rem;
	color:var(--light-white);
	margin-left: .5rem;
	cursor: pointer;
 }
 
 .contact .row form .radio #female{
	margin-left: 2rem;
 }
 
 .contact .row form .radio input{
	appearance: none;
	height: 1.5rem;
	width: 2rem;
	background-color: var(--light-white);
	cursor: pointer;
 }
 
 .contact .row form .radio input:checked{
	background-color: var(--green);
	border-radius: 5rem;
 }
 
 .contact .row form .radio #male:checked ~ label[for="male"]{
	color:var(--green);
 }
 
 .contact .row form .radio #female:checked ~ label[for="female"]{
	color:var(--green);
 }